@import url("https://fonts.googleapis.com/css2?family=Handjet&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;900&display=swap");

:root {
  --border-link: 1px solid #607d8b;
  --background-link: #263238;
  --box-shadow: 2px 2px 1px rgb(0, 0, 0, 0.6);
  --primary-color: #f1f8e9;
  --font-family: "Tektur", cursive;
}

body {
  font-family: var(--font-family);
  background: #e8f5e9;
}

.logo {
  max-width: 150px;
}

.h1-index {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 200px;
}
.h1-index-emoji {
  font-size: 50px;
  font-weight: lighter;
}
.h1-index-name {
  font-size: 80px;
}
.h2-index {
  display: flex;
  justify-content: center;
  color: grey;
  text-align: center;
}
.links-index {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 150px;
}
.links-index a {
  border: var(--border-link);
  padding: 15px 30px;
  background: var(--background-link);
  color: white;
  text-decoration: none;
  box-shadow: var(--box-shadow);
}
.links-index a:hover {
  background: white;
  color: var(--background-link);
}
.footer {
  text-align: center;
  margin-top: 200px;
  font-family: "Handjet", cursive;
  font-size: 20px;
}
.foot {
  text-decoration: none;
  color: black;
}
.foot:hover {
  cursor: pointer;
  background: black;
  color: greenyellow;
}
.back-home {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
}
.back-home:hover {
  text-decoration: underline;
}
.h1-about {
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin-top: 200px;
  text-align: center;
}
.h2-about {
  display: flex;
  justify-content: center;
  font-weight: lighter;
  text-align: center;
}
.h3-about {
  display: flex;
  justify-content: center;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
}
.description {
  margin-top: 200px;
}
.description-2 {
  margin-top: 100px;
}
.container .section {
  word-spacing: 2px;
  line-height: 2;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 20px;
  background-color: var(--primary-color);
  text-align: center;
}
#contact {
  display: flex;
  justify-content: center;
  margin-top: 300px;
  font-size: 40px;
}
.email {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
  font-size: 25px;
  color: grey;
}
