@import url("https://fonts.googleapis.com/css2?family=Handjet&display=swap");

:root {
  --border-link: 2px solid #607d8b;
  --background-link: #263238;
  --box-shadow: 3px 3px 1px rgb(0, 0, 0, 0.6);
  --primary-color: #f1f8e9;
}

.h1-index {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.h1-index-emoji {
  font-size: 50px;
  font-weight: lighter;
}
.h1-index-name {
  font-size: 80px;
}
.h2-index {
  display: flex;
  justify-content: center;
  font-weight: lighter;
}
.links-index {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}
.links-index a {
  border: var(--border-link);
  padding: 15px 30px;
  background: var(--background-link);
  color: white;
  text-decoration: none;
  box-shadow: var(--box-shadow);
}
.footer {
  text-align: center;
  margin-top: 200px;
  font-family: "Handjet", cursive;
  font-size: 20px;
}
.foot {
  text-decoration: none;
  color: black;
}
.foot:hover {
  cursor: pointer;
  background: black;
  color: greenyellow;
}
.back-home {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
}
.back-home:hover {
  text-decoration: underline;
}
.h1-about {
  display: flex;
  justify-content: center;
  font-size: 50px;
}
.h2-about {
  display: flex;
  justify-content: center;
  font-weight: lighter;
}
.h3-about {
  display: flex;
  justify-content: center;
  font-weight: lighter;
  font-style: italic;
}
.description-about {
  display: flex;
  margin-top: 50px;
}
.description-about div {
  padding: 20px;
  margin: 20px 50px;
  word-spacing: 2px;
  line-height: 2;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 20px;
  background-color: var(--primary-color);
  text-align: center;
}
#contact {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  font-size: 40px;
}
.email {
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
  font-size: 25px;
  color: grey;
}
